<?php

# PhpMyAdmin Settings
# This should be set to a random string of at least 32 chars
$cfg["blowfish_secret"] = "lo0uHNuqpNYeZoMsh4NfBwJXl5BTp7Dt";

$i=0;
$i++;

$cfg["Servers"][$i]["auth_type"] = "cookie";
$cfg["Servers"][$i]["AllowNoPassword"] = false;
$cfg["Servers"][$i]["AllowRoot"] = false;
$cfg["TempDir"] = "/tmp";

?>